# Python
__pycache__/
*.py[cod]
*.pyc
.pytest_cache/

# Node
node_modules/
package-lock.json

# Environment variables
.env

# IDE
.vscode/
.idea/

# Local development
score.json

# Editor files
*.swp
*~
.DS_Store
